<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Notes</title>
</head>
<body>
    <h1>Create a Note</h1>
    <form action="notes/" method="GET">
        <label for="username">username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="note">note:</label><br>
        <input type="text" id="note" name="note" required>
        <input type="submit" value="submit">
    </form>
    
</body>
</html>